<!-- THIS PAGE DISPLAYS JOB SEARCH RESULTS. -->
<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Job Hunters</h1>
			<p>Jobs near <%- searchLocation %>.</p>

			<div class="well">
				<ul>
					<% searchResults.forEach(function(result) { %>
					<li><a href="<%= result.url %>"><%= result.jobtitle %></a>: <%= result.company %>, <%= result.formattedLocationFull %></li>
					<% }); %>
				</ul>
			</div>

			<% include ../partials/search-form %>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>