<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Job Hunters</h1>
			<p>Jobs near <%- searchLocation %>.</p>

			<div class="well">
				<ul>
					<% searchResults.forEach(function(result) { %>
					<li><a href="<%= result.url %>"><%= result.jobtitle %></a>: <%= result.company %>, <%= result.formattedLocationFull %></li>
					<% }); %>
				</ul>
				<hr>
				<ul>
					<li>Total Results: <%- searchTotalResults %></li>
					<li>City: <%- searchLocation %></li>
					<li>Job: <%- searchJobTitle %></li>
					<li>Company: <%- searchCompany %></li>
					<li>Date: <%- searchDate %></li>
					<li>Description: <%- searchSnippet %></li>
					<li>Location: <%- searchFormattedLocationFull %></li>
					<li>Posted <%- searchRelativeTime %></li>
				</ul>
			</div>

		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>
